<div class="container">
  <h1>{{ 'races.text' | translate }}</h1>
  <div>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <td><b>{{ 'races.table.raceId' | translate }}</b></td>
        <td><b>{{ 'races.table.trackId' | translate }}</b></td>
        <td><b>{{ 'races.table.carId' | translate }}</b></td>
        <td><b>{{ 'races.table.dateTime' | translate }}</b></td>
        <td><b>{{ 'races.table.reactionTime' | translate }}</b></td>
        <td><b>{{ 'races.table.elapsedTime' | translate }}</b></td>
        <td><b>{{ 'races.table.finishSpeed' | translate }}</b></td>
        <td class="danger"><b>{{ 'races.table.delete' | translate }}</b></td>
      </tr>
      <tr *ngFor="let race of races">
        <td>{{race.raceId}}</td>
        <td>{{race.trackId}}</td>
        <td><a [routerLink]="['/cars', race.carId]">{{race.carId}}</a></td>
        <td>{{race.dateTime}}</td>
        <td>{{race.reactionTime}}</td>
        <td>{{race.elapsedTime}}</td>
        <td>{{race.finishSpeed}}</td>
        <td><button class="btn btn-danger btn-xs" (click)="deleteRace(race)">X</button></td>
      </tr>
    </table>
  </div>
  <button class="btn" (click)=onSubmit() *ngIf=!submitted>{{ 'races.buttons.addNewRace' | translate}}</button>
  <div *ngIf=submitted>
    <h2>{{ 'races.form.text' | translate }}</h2>
    <form (ngSubmit)="onSubmit()" #raceForm="ngForm">
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="trackId">{{ 'races.form.trackId' | translate }}</label>
          <input type="number" [(ngModel)]="trackId" class="form-control input-sm" name="trackId" #trackIdInput="ngModel" required>
          <div [hidden]="trackIdInput.valid || trackIdInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div> 
      </div>
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="carId">{{ 'races.form.carId' | translate }}</label>
          <input type="number" [(ngModel)]="carId" class="form-control input-sm" name="carId" #carIdInput="ngModel" required>
          <div [hidden]="carIdInput.valid || carIdInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div> 
      </div>
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="dateTime">{{ 'races.form.dateTime' | translate }}</label>
          <input type="date" [(ngModel)]="date" class="form-control input-sm" name="date" #dateInput="ngModel" required>
          <div [hidden]="dateInput.valid || dateInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
          <input type="time" [(ngModel)]="time" class="form-control input-sm" name="time" #timeInput="ngModel" required>
          <div [hidden]="timeInput.valid || timeInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="reactionTime">{{ 'races.form.reactionTime' | translate }}</label>
          <input type="number" [(ngModel)]="reactionTime" class="form-control input-sm" name="reactionTime" #reactionTimeInput="ngModel" required>
          <div [hidden]="reactionTimeInput.valid || reactionTimeInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="elapsedTime">{{ 'races.form.elapsedTime' | translate }}</label>
          <input type="number" [(ngModel)]="elapsedTime" class="form-control input-sm" name="elapsedTime" #elapsedTimeInput="ngModel" required>
          <div [hidden]="elapsedTimeInput.valid || elapsedTimeInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="finishSpeed">{{ 'races.form.finishSpeed' | translate }}</label>
          <input type="number" [(ngModel)]="finishSpeed" class="form-control input-sm" name="finishSpeed" #finishSpeedInput="ngModel" required>
          <div [hidden]="finishSpeedInput.valid || finishSpeedInput.pristine"
               class="alert alert-danger">
               {{ 'races.form.warningMessage' | translate }}
          </div>
        </div>
      </div>
      <button class="btn" type="submit" (click)=addNewRace() [disabled]="!raceForm.form.valid">{{ 'races.buttons.add' | translate }}</button>
      <button class="btn btn-danger" type="submit" (click)="submitted=false">{{ 'races.buttons.cancel' | translate }}</button>
    </form>
  </div>
</div>
<div>
  <br>
</div>


