<div class="container">
  <h1>{{ 'cars.text' | translate }}</h1>
  <div>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td><b>{{ 'cars.table.carId' | translate }}</b></td>
          <td><b>{{ 'cars.table.mark' | translate }}</b></td>
          <td><b>{{ 'cars.table.model' | translate }}</b></td>
          <td><b>{{ 'cars.table.power' | translate }}</b></td>
          <td><b>{{ 'cars.table.torque' | translate }}</b></td>
          <td><b>{{ 'cars.table.pilot' | translate }}</b></td>
          <td><b>{{ 'cars.table.sponsorId' | translate }}</b></td>
          <td class="danger"><b>{{ 'cars.table.delete' | translate }}</b></td>
        </tr>
        <tr *ngFor="let car of cars" (click)="onClick(car)">
          <td>{{car.carId}}</td>
          <td>{{car.mark}}</td>
          <td>{{car.model}}</td>
          <td>{{car.power}}</td>
          <td>{{car.torque}}</td>
          <td><a routerLink="/users" (click)="$event.stopPropagation();">{{car.pilotFirstName}} {{car.pilotLastName}}</a></td>
          <td>{{car.sponsorId}}</td>
          <td><button class="btn btn-danger btn-xs" (click)="deleteCar(car); $event.stopPropagation();">X</button></td>
        </tr>
      </table>
    </div>
    <button class="btn" (click)=onSubmit() *ngIf=!submitted>{{ 'cars.buttons.addNewCar' | translate }}</button>
    <div *ngIf=submitted>
      <h2>{{ 'cars.form.text' | translate }}</h2>
      <form (ngSubmit)="onSubmit()" #carForm="ngForm">
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="mark">{{ 'cars.form.mark' | translate }}</label>
            <input type="string" [(ngModel)]="mark" class="form-control input-sm" name="mark" #markInput="ngModel" required>
            <div [hidden]="markInput.valid || markInput.pristine"
                 class="alert alert-danger">
                 {{ 'cars.form.warningMessage' | translate }}
            </div>
          </div> 
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="model">{{ 'cars.form.model' | translate }}</label>
            <input type="string" [(ngModel)]="model" class="form-control input-sm" name="model" #modelInput="ngModel" required>
            <div [hidden]="modelInput.valid || modelInput.pristine"
                 class="alert alert-danger">
                 {{ 'cars.form.warningMessage' | translate }}
            </div>
          </div> 
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="pilotFirstName">{{ 'cars.form.pilotFirstName' | translate }}</label>
            <input type="pilotFirstName" [(ngModel)]="pilotFirstName" class="form-control input-sm" name="pilotFirstName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="pilotLastName">{{ 'cars.form.pilotLastName' | translate }}</label>
            <input type="string" [(ngModel)]="pilotLastName" class="form-control input-sm" name="pilotLastName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="power">{{ 'cars.form.power' | translate }}</label>
            <input type="number" [(ngModel)]="power" class="form-control input-sm" name="power">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="torque">{{ 'cars.form.torque' | translate }}</label>
            <input type="number" [(ngModel)]="torque" class="form-control input-sm" name="torque">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="sponsorId">{{ 'cars.form.sponsorId' | translate }}</label>
            <input type="number" [(ngModel)]="sponsorId" class="form-control input-sm" name="sponsorId">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label for="spec">{{ 'cars.form.spec' | translate }}</label>
            <textarea name="spec" id="spec" cols="28" rows="5" [(ngModel)]="spec" class="form-control"></textarea>
          </div>
        </div>
        <button class="btn" type="submit" (click)=addNewCar() [disabled]="!carForm.form.valid">{{ 'cars.buttons.add' | translate }}</button>
        <button class="btn btn-danger" type="submit" (click)="submitted=false">{{ 'cars.buttons.cancel' | translate }}</button>
      </form>
    </div>
</div>
<div>
  <br>
</div>

